Repository GNUGradyn/react-native-sprite-sheets: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types

lefthook.yml:

pre-commit:
  skip: true # Remove before publishing library to force linting
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts, jsx, tsx}"
      run: npx tsc
commit-msg:
  skip: true 
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

remove path from coordinate maps as it is redudnant and confusing
  example/android/app/src/main/assets/rnsprite/twemoji.png.json
  example/ios/rnsprite/twemoji.png.json
  src/cli/rnsprite.js
  src/index.tsx
Due: lint, types

work
  android/src/main/java/com/gradyn/rnsprite/SpriteModule.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteView.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteViewManager.kt
  android/src/main/java/com/margelo/nitro/spritesheets/SpriteSheets.kt
  android/src/main/java/com/margelo/nitro/spritesheets/SpriteSheetsPackage.kt
  example/android/app/build.gradle
  example/android/settings.gradle
  example/src/App.tsx
  ios/SpriteSheets.swift
  ios/src/HybridSpriteView.swift
  nitro.json
  package.json
  src/SpriteSheets.nitro.ts
  src/index.tsx
  src/spritesheetMeta.ts
  yarn.lock
Due: lint, types

useSpriteSheet template
  example/src/rnsprite/spritesheets/twemoji.png.json
  src/SpriteSheets.nitro.ts
  src/cli/rnsprite.js
  src/index.tsx
  src/useSpriteSheets.tsx
Due: lint, types

e
  src/useSpriteSheets.tsx
Due: lint

finish source gen
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  package.json
  src/SpriteSheets.nitro.ts
  src/cli/rnsprite.js
  src/index.tsx
  src/spritesheetMeta.ts
  src/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
  yarn.lock
Due: lint, types

refactor: remove SpriteModule, SpriteView, and SpriteViewManager; update useSpriteSheet implementation
  android/src/main/java/com/gradyn/rnsprite/SpriteModule.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteView.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteViewManager.kt
  example/src/App.tsx
  nitro.json
  src/SpriteSheets.nitro.ts
  src/index.tsx
  src/useSpriteSheet.tsx
Due: lint, types

work
  README.md
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteSheetsPackage.kt
Due: none

fix build pipeline issues
  android/CMakeLists.txt
  android/build.gradle
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteSheetsPackage.kt
  example/android/app/build.gradle
  example/android/settings.gradle
  nitro.json
Due: none

refactor: update NativeSprite and SpriteSheetsPackage for improved view management
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteSheetsPackage.kt
  example/android/app/src/main/java/com/spritesheets.example/MainApplication.kt
Due: none

work
  android/CMakeLists.txt
  android/build.gradle
  android/gradle.properties
  android/src/main/cpp/cpp-adapter.cpp
  android/src/main/java/com/gradyn/rnsprite/RnspritePackage.kt
  example/android/app/src/main/java/com/spritesheets.example/MainActivity.kt
  example/android/app/src/main/java/com/spritesheets.example/MainApplication.kt
  nitro.json
  src/src/rnsprite/spritesheets/useSpriteSheet.tsx
Due: lint

egg
  android/CMakeLists.txt
Due: none

cvcxzzxvc
  src/useSpriteSheet.tsx
Due: lint

refactor: update NativeSprite configuration and import handling in useSpriteSheet
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/index.tsx
  src/useSpriteSheet.tsx
Due: lint

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/RnspritePackage.kt
  example/src/App.tsx
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
Due: lint

refactor: update NativeSprite implementation and adjust useSpriteSheet for better prop handling
  android/build.gradle
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  example/src/App.tsx
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
Due: lint

marking end of this attempt and revising
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSpriteView.kt
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
Due: lint

work
  android/src/main/java/com/gradyn/rnsprite/NativeSpriteView.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSpriteVitoFrameLayout.kt
Due: none

feat: add MatrixScaleType class for handling matrix transformations
  android/src/main/java/com/gradyn/rnsprite/MatrixScaleType.kt
Due: none

refactor: enhance MatrixScaleType and update NativeSprite rendering logic
  android/src/main/java/com/gradyn/rnsprite/MatrixScaleType.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSpriteVitoFrameLayout.kt
  example/src/App.tsx
Due: lint

work
  android/src/main/java/com/gradyn/rnsprite/MatrixScaleType.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  example/android/.kotlin/errors/errors-1753845544374.log
Due: none

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
Due: none

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  example/src/App.tsx
  src/useSpriteSheet.tsx
Due: lint

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  example/src/App.tsx
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
Due: lint

holy shit its working
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  example/src/App.tsx
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
Due: lint

refractor metadata generator
  example/src/App.tsx
  example/src/rnsprite/spritesheets/twemoji.png.json
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/cli/rnsprite.js
Due: lint, types

work
  android/src/main/java/com/gradyn/rnsprite/SpriteCache.kt
Due: none

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteCache.kt
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/NativeSprite.nitro.ts
  src/SpriteCache.nitro.ts
  src/useSpriteSheet.tsx
Due: lint, types

immplement cache
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteCache.kt
  src/SpriteCache.nitro.ts
Due: lint, types

work
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteCache.kt
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  nitro.json
  src/cli/rnsprite.js
  src/useSpriteSheet.tsx
Due: lint, types

fix cache race condition
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  src/useSpriteSheet.tsx
Due: lint

fix bug where changing URL (or reloading in metro) would crash the app
  src/useSpriteSheet.tsx
Due: lint

work
  android/src/main/java/com/gradyn/rnsprite/CachedBitmap.kt
Due: none

work
  android/src/main/java/com/gradyn/rnsprite/CachedBitmap.kt
  android/src/main/java/com/gradyn/rnsprite/NativeSprite.kt
  android/src/main/java/com/gradyn/rnsprite/SpriteCache.kt
  example/android/.kotlin/errors/errors-1755112125217.log
  example/android/app/src/main/java/com/spritesheets.example/MainActivity.kt
  example/package.json
  example/src/App.tsx
  example/src/components/EmojiKeyboard.tsx
  example/src/rnsprite/spritesheets/useSpriteSheet.tsx
  example/src/screens/EmojiTest.tsx
  example/src/screens/HomeScreen.tsx
  package.json
  src/SpriteCache.nitro.ts
  src/useSpriteSheet.tsx
  yarn.lock
Due: lint, types

sfdaf
  src/index.tsx
Due: lint
